section.clients_pl#dla-kogo-pracujemy

  .content

    h3 Dla kogo pracujemy
    p Wachlarz branż w których aktywni są nasi pracownicy jest bardzo szeroki. Swoim klientom dostarczamy pracowników różnych profesji, zarówno pomocników jak i specjalistów:

    ul
      li(style="background: url(/assets/img/Builder.png); background-position: center; background-size: cover; background-color: #D4213d;") Budowlańców
      li(style="background: url(/assets/img/Printer.png); background-position: center; background-size: cover; background-color: #E9E8E7;") drukarzy
      li(style="background: url(/assets/img/Milling.png); background-position: center; background-size: cover; background-color: #0057b8") frezerów
      li(style="background: url(/assets/img/Driver.png); background-position: center; background-size: cover; background-color: #E9E8E7; ") kierowców
      li(style="background: url(/assets/img/Waiter.png); background-position: center; background-size: cover; background-color: #D4213d") kelnerów
      li(style="background: url(/assets/img/seamstress.png); background-position: center; background-size: cover; background-color: #ffd700") krawcowych
      li(style="background: url(/assets/img/cook.png); background-position: center; background-size: cover; background-color: #D4213d") kucharzy
      li(style="background: url(/assets/img/security.png); background-position: center; background-size: cover; background-color: #0057b8") ochroniarzy
      li(style="background: url(/assets/img/gardener.png); background-position: center; background-size: cover; background-color: #E9E8E7;") ogrodników
      li(style="background: url(/assets/img/babbysytter.png); background-position: center; background-size: cover; background-color: #D4213d") opiekunek
      li(style="background: url(/assets/img/nurse.png); background-position: center; background-size: cover; background-color: #ffd700") pielęgniarek
      li(style="background: url(/assets/img/maid.png); background-position: center; background-size: cover; background-color: #D4213d") pokojówek
      li(style="background: url(/assets/img/turner.png); background-position: center; background-size: cover; background-color: #D4213d") tokarzy
      li(style="background: url(/assets/img/welder.png); background-position: center; background-size: cover; background-color: #0057b8") spawaczy
      li(style="background: url(/assets/img/cleaner.png); background-position: center; background-size: cover; background-color: #ffd700") sprzątaczy
      li(style="background: url(/assets/img/more.png); background-position: center; background-size: cover; background-color: #E9E8E7") i wielu wielu innych
