section.contact_pl#kontakt
  .content   
    h3 Контакт 
    .tiles
      .office
        h4 Бюро:
        h5 KMST-Group
        p Торунь, Шоса Хелмінська 81 
        p Понеділок – п’ятниця 9.00 – 15.00
        p Тел.: 
          a(href="tel:+48563070669") +48 56 30 70 669
        a(href="mailto:biuro@kmst.com.pl") biuro@kmst.com.pl
        
      .labmarket_ukr
        h4 Ринок праці в Україні:
        h5 Тетяна Лісогорець
        p тел.: 
          a(href="tel:+48578914782") +48 578 914 782
        p Вайбер: +48 578 914 782
        a(href="mailto:tatiana@kmst.com.pl") tatiana@kmst.com.pl
        p (мова спілкування українська, російська, польська)
        
      .labmarket_pl
        h4 Ринок праці в Польші:
        h5 Klaudiusz Łenyk
        p тел.: 
          a(href="tel:+48535044337") +48 535 044 337
        a(href="mailto:klaudiusz@kmst.com.pl") klaudiusz@kmst.com.pl
        p (мова спілкування польська, німецька, англійська, російська)
      
      .advice
        h4 Doradztwo i formalności przy zatrudnianiu kadry, płace, rozliczenia: 
        h5 Magda Zaborska-Łenyk
        p тел.: 
          a(href="tel:+48567987654") +48 567 987 654
        a(href="mailto:magda@kmst.com.pl") magda@kmst.com.pl
        p języki: polski, angielski, rosyjski
        
      .info
        h4 Podmiot prowadzący
        h5 Biuro Usług i Handlu Klaudiusz Łenyk
        p Toruń, ul. Owsiana 43
        p NIP 578 109 65 97
        p REGON 870606347
        p Nr wpisu do rejestru podmiotów prowadzących agencje zatrudnienia 16339
