section.employees_pl#nasi-pracownicy
  .content
    h3 Nasi Pracownicy
    p Pracownicy, których usługi oferujemy naszym klientom to zarówno wysoko wykształceni fachowcy jak i wykonawcy najprostszych robót bez specjalnego przeszkolenia. W zależności od potrzeb i wymagań pracodawców jesteśmy w stanie zaspokoić znakomitą większość potrzeb personalnych naszych zleceniodawców.
