header    
  .intro
    h1 <span style="color: #D4213d;">K</span><span style="color: #E9E8E7;">M</span><span style="color: #0057b8;">S</span><span style="color: #ffd700;">T</span>
    h2 Group
  
  .lang_selection
    a(href="KMST-PL")
      .pol
          <span>WITAMY</span>
          
    a(href="KMST-UA")
      .ukr
        <span>ЛАСКАВО ПРОСИМО</span>
        
    a(href="http://www.google.com")
      .rus
        <span syle="color: white;">ЗДРАСТВУЙТЕ</span>
  
  
