nav
  a(href="http://www.kmst.com.pl").nav-wrap
    h1 <span style="color: #D4213d;">K</span><span style="color: #E9E8E7;">M</span><span style="color: #0057b8;">S</span><span style="color: #ffd700;">T</span>
    
    .mob-nav-toggle: span
  
  ul.nav-list.none
    li: a(href="#O-nas") o nas
    li: a(href="#co-robimy") co robimy
    li: a(href="#dla-kogo-pracujemy") dla kogo pracujemy
    li: a(href="#nasi-pracownicy") nasi pracownicy
    li: a(href="#kontakt") kontakt
    
  
    
    
  
