section.works_pl#co-robimy
  .content
    h3 Co robimy
    p Wymagania dzisiejszych czasów, potrzeby przedsiębiorców dyktowane dynamicznie zmieniającą się sytuacją rynkową, powodują konieczność bardzo elastycznego podejścia do każdego zlecenia. Oferujemy swoim klientom pełen zakres usług około kadrowych:
    
    ul
      li wynajem pracowników
      li rekrutacja na zlecenie
      li doradztwo
      li legalizacja pracy i pobytu
