section.works_pl#co-robimy
  .content
    h3 Що ми робимо
    p Вимоги сучасних часів, потреби підприємців, що диктуються динамічною ринковою ситуацією, вимагають дуже гнучкого підходу до кожного замовлення. Ми пропонуємо нашим клієнтам повний спектр послуг:
    
    ul
      li Легальне працевлаштування
      li Запрошенная піврічні, річні
      li Допомога в пошуку житла
