---
layout: defaultPL
title: KMST Group PL - polsko-ukraińska agencja pośrednictwa pracy
---
<div class="home-wrap">


{% include nav.html %}
{% include about_pl.html %}
{% include works_pl.html %}
{% include clients_pl.html %}
{% include employees_pl.html %}
{% include contact_pl.html %}
{% include footer.html %}

</div>
<script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/assets/js/parallax.js"></script>
<script src="/assets/js/function_pl.js"></script>
<script src="/assets/js/lity.js"></script>
