---
layout: defaultPL
title: KMST Group UA - Польсько-українське агентство зайнятості
---
<div class="home-wrap">


{% include nav_ua.html %}
{% include about_ua.html %}
{% include works_ua.html %}
{% include clients_ua.html %}
{% include employees_ua.html %}
{% include contact_ua.html %}
{% include footer.html %}

</div>
<script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/assets/js/parallax.js"></script>
<script src="/assets/js/function_pl.js"></script>
<script src="/assets/js/lity.js"></script>
