<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="Polsko-ukraińska agencja pośrednictwa pracy. Pomożemy Tobie znaleźć pracownika, pracodawcę. Wynajem pracowników, rekrutacja, legalizacja pracy i pobytu." />
    <meta name="keywords" content="agencja pracy, polsko-ukraińska, wynajem pracowników, rekrutacja, legalizacja parcy i pobytu">
    <meta name="viewport" content="width=device-width">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>

    {{ content }}

  </body>
</html>
